@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1280px){.mySwiper1 .swiper-slide-prev .shadow-slider1, 
.mySwiper1 .swiper-slide-duplicate-active .shadow-slider1, 
.mySwiper11 .swiper-slide-prev .shadow-slider1, 
.mySwiper11 .swiper-slide-duplicate-active .shadow-slider1, 
.mySwiper12 .swiper-slide-prev .shadow-slider1,
.mySwiper12 .swiper-slide-duplicate-active .shadow-slider1{
    box-shadow: none !important;
}
}

.swiper-pagination-bullet{
    width: 2rem !important;
    height: 0.5rem !important;
    border-radius: 5px !important;
    margin: 0 0.5rem !important;
    transition: all 300ms !important;

}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 5rem !important;
    height: 0.5rem !important;
    border-radius: 5px !important;
}

.subscribe-input:valid~.subscribe-input-icon{
    display: none;
}
